<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div>
            <data-table
                [data]="data"
                [columns]="columns"
                [displayedColumns]="displayedColumns"
                [title]="title"
                [isLoading]="isLoading"
                [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="5"
                [filterPlaceholder]="'Buscar Unidades'"
                [addButtonLabel]="'Agregar'"
                (add)="addUnit()"
                (edit)="editUnit($event)"
                (delete)="deleteUnit($event)"
                (view)="viewUnit($event)">
            </data-table>
        </div>
    </div>
</div>
