<div class="flex justify-between items-center">
    <h2 mat-dialog-title class="text-lg">{{ action === 'edit' ? 'Editar Unidad' : 'Agregar Unidad'}}</h2>
    <button mat-icon-button (click)="close()" class="text-gray-500">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <form>
        <div class="form-row">
            <mat-form-field class="w-full">
                <mat-label>Propietario</mat-label>
                <mat-select [(ngModel)]="resident.tipoDocumento" name="tipoDocumento" required>
                    <mat-option value="CC">Cédula de Ciudadanía</mat-option>
                    <mat-option value="TI">Tarjeta de Identidad</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Inquilino</mat-label>
                <input matInput [(ngModel)]="resident.numeroDocumento" name="numeroDocumento" required>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field class="w-full">
                <mat-label>Vehículos asociados</mat-label>
                <input matInput [(ngModel)]="resident.telefono" name="phone" required>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Tamaño</mat-label>
                <input matInput [(ngModel)]="resident.telefono" name="phone" required>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field class="w-full">
                <mat-label>Características</mat-label>
                <input matInput [(ngModel)]="resident.correo" name="correo" type="email" required>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="resident.estado" name="estado" required>
                    <mat-option value="activo">Disponible</mat-option>
                    <mat-option value="inactivo">Ocupado</mat-option>
                    <mat-option value="inactivo">Mantenimiento</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>
